body {
    font: 14px "Lucida Grande", Helvetica, Arial;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active
{
    color: #555;
    background-color: #e7e7e7;
}
.media-object {
    width: 10em;
}
h1 { padding: 0 .5em;}
a.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.search.form-inline {
    padding: 0 1.5em;
}
.search.form-inline .form-group {
    padding-right: 1em;
}